.notificationContainer {
    position: fixed;
    left: 0;
    bottom: 0;
    max-width: 400px;
    width: 100%;
    margin: 2rem;
}

$closeAll-color: #222;
$closeAll-bg: #e0e0e0;

.closeAll {
    width: 100%;
    margin: 0.5em 0;
    padding: 0.8em 0.5em;
    color: $closeAll-color;
    background: $closeAll-bg;
    cursor: pointer;
    border: 0;
    display: block;
    transition: all 0.3s ease;
    &:hover {
        color: lighten($closeAll-color, 95);
        background: darken($closeAll-bg, 25);
    }
}
