.notificationList {
    position: fixed;
    left: 0;
    bottom: 0;
    max-width: 400px;
    width: 100%;
    padding: 2rem;
}

.notificationList-notification {
    margin: 0.5em 0;
    padding: 2em 1.5em;
    background: #fafafa;
}