.notification {
    margin: 0.5em 0;
    padding: 0.3em 0.5em;
    overflow: hidden;
    position: relative;
}

.notificationContent {
    display: flex;
    flex-direction: row;

    svg {
        width: 1em;
        height: 1em;
    }

    button {
        cursor: pointer;
        width: 2.5em;
        min-width: 2.5em;
        height: 2.5em;
        line-height: 2.5em;
        text-align: center;
        background: none;
        border: none;
        border-radius: 100%;
        transition: all 0.3s ease;
        background: rgba(0, 0, 0, 0);
        align-self: flex-start;

        &:hover {
            background: rgba(0, 0, 0, 0.1);
        }
    }

    .text {
        flex-grow: 1;
        padding: 0.4em 0.4em;
    }
}

.animationBar {
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 0;
    display: inline-block;
    width: 100%;
    max-width: 400px;
    animation-name: animationBarAnimation;
    animation-timing-function: ease;
    @keyframes animationBarAnimation {
        from {
            max-width: 400px;
        }
        to {
            max-width: 0px;
        }
    }
}

$normal-color: #f0f0f0;
$warning-color: #ffaaaa;
$success-color: #aaffaa;

$saturation-factor: 35;
$darken-factor: 45;

.normal {
    background: $normal-color;
    .animationBar {
        background: darken(desaturate($normal-color, $saturation-factor), $darken-factor);
    }
}

.warning {
    background: $warning-color;
    .animationBar {
        background: darken(desaturate($warning-color, $saturation-factor), $darken-factor);
    }
}

.success {
    background: $success-color;
    .animationBar {
        background: darken(desaturate($success-color, $saturation-factor), $darken-factor);
    }
}
